//-------------------------------------------- Colors



//-------------------------------------------- Font stacks

$sans-serif:							'Helvetica Neue', Arial, sans-serif;
$icons:									Icons;

//-------------------------------------------- Font icons

@import 'font-icons';

//-------------------------------------------- Foundational

$image-path:							'../images/';
$global-transition-duration:			.3s;