//------------------------------------------------ Colors



//------------------------------------------------ Font stacks

$sans-serif:							Helvetica Neue, Arial, sans-serif;
$icons:									Icons;

//------------------------------------------------ Icons

@import 'icons';

//------------------------------------------------ Common

$image-path:							'../images/';
$global-transition-duration:			.3s;
