//-------------------------------------------- Bourbon mixins

// See: http://bourbon.io

@import 'bourbon/bourbon';

//-------------------------------------------- Media queries

//---------------------- Sets a breakpoint

@mixin breakpoint($size, $direction: min, $property: width) {
	@media (#{$direction}-#{$property}: $size) {
		@content;
	}
}

//---------------------- Sets a breakpoint range

// Note: Sass conveniently combines nested media queries into one.

@mixin breakpoint-range($size-min, $size-max, $property: width) {
	@include breakpoint($size-min, min, $property) {
		@include breakpoint($size-max, max, $property) {
			@content;
		}
	}
}

//-------------------------------------------- Sets a layer

// Manage layers in the config file.

@mixin layer($stack, $name, $base-index: 0) {
	z-index: $base-index + index($stack, $name)
}

//-------------------------------------------- Sets a font icon

@mixin icon($position: before, $icon: false, $styles: true) {
	@if $position == both {
		$position: 'before, &:after';
	}
	&:#{$position} {
		@if $icon {
			content: "#{map-get($font-icons, $icon)}";
		}
		@if $styles {
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-family: $icons;
		}
		@content;
	}
}