@import '../intro';

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 1em;
  font-family: sans-serif;
  line-height: 1;
  background-color: color(black tint(18%));
}

::selection {
  background-color: color(yellow alpha(50%));
  opacity: 0;
}
