@import '../counter';

@custom-media --intro-breakpoint-1 (width >= 32em);
@custom-media --intro-breakpoint-2 (width >= 50em);

[data-component='intro'] {
  padding: 1.5em;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: color(black tint(25%));
  background-color: white;
  @media (--intro-breakpoint-1) {
    padding: 2.5em;
  }
  @media (--intro-breakpoint-2) {
    padding: 3.5em;
  }
  & > {
    & .logo {
      display: inline-block;
      max-width: 75%;
      & img {
        display: block;
        max-width: 100%;
      }
    }
    & p {
      margin: 0 auto 1em;
    }
    & ol {
      margin: 1.8em auto;
      max-width: 30em;
      & li {
        margin-top: .8em;
        text-align: left;
        & code {
          display: inline-block;
          margin: 0 .15em;
          border-radius: .2em;
          padding: .17em .4em .25em;
          font-size: 85%;
          line-height: 1;
          color: color(white alpha(90%));
          background-color: color(black alpha(65%));
        }
      }
    }
  }
}
