.intro {
  padding: 1.5em;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: #404040;
  background-color: white;
}
@media (min-width: 500px) {
  .intro {
    padding: 2.5em;
  }
}
@media (min-width: 800px) {
  .intro {
    padding: 4em;
  }
}
.intro .logo {
  display: inline-block;
  max-width: 75%;
}
.intro img {
  display: block;
  max-width: 100%;
}
.intro .details {
  max-width: 32em;
  margin: auto;
  text-align: left;
}
.intro .details ol {
  margin-top: 1.8em;
  margin-bottom: 2.2em;
}
.intro .details li {
  margin-top: .8em;
}
