.inline-code {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0 .15em;
  border-radius: .2em;
  padding: .17em .4em .25em;
  font-size: 85%;
  line-height: 1;
  color: rgba(255, 255, 255, .9);
  background-color: rgba(0, 0, 0, .65);
}
.inline-code svg {
  position: relative;
  bottom: .02em;
  display: inline-block;
  vertical-align: middle;
  width: .85em;
  height: .85em;
  fill: currentColor;
}
