//-------------------------------------------- Colors



//-------------------------------------------- Font stacks

$sans-serif:						'Helvetica Neue', Arial, sans-serif;

//-------------------------------------------- Foundational

$font-path:							'../fonts/';
$image-path:						'../images/';
$global-contained-width:			935px;
$no-media-queries-width:			$global-contained-width + 100px;
$no-media-queries-height:			$no-media-queries-width * (9 / 16); // 16:9 aspect ratio
$base-layer-index:					99;
$layers:							();
$global-transition-duration:		.3s;