//-------------------------------------------- Colors



//-------------------------------------------- Font stacks

$sans-serif:						'Helvetica Neue', Arial, sans-serif;

//-------------------------------------------- Foundational

$font-path:							'../fonts/';
$image-path:						'../images/';
$global-container-max-width:		935px;
$old-ie-width:						$global-container-max-width + 100px;
$base-layer-index:					99;
$layers:							();
$global-transition-duration:		.3s;