//-------------------------------------------- Colors

$facebook-blue:						#3b5998;
$twitter-blue:						#00aced;
$googleplus-red:					#dd4b39;

//-------------------------------------------- Font stacks

$helvetica-neue:					'Helvetica Neue', Arial, sans-serif;

//-------------------------------------------- Foundational

$font-path:							'../fonts/';
$image-path:						'../images/';
$global-container-max-width:		58rem;
$old-ie-width:						$global-container-max-width + 6rem;
$base-layer-index:					99;
$layers:							();
$global-transition-duration:		.3s;

//-------------------------------------------- Social media links

// An example component.

$social-breakpoint-1:				28rem;
$social-breakpoint-2:				50rem;
