//-------------------------------------------- Foundational

// Reference: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include box-sizing(border-box);
}
* {
	&:before, 
	&:after {
		box-sizing(inherit);
	}
}
body {
	margin: 0;
	font-size: 16px;
	font-family: $sans-serif;
	@include old-ie(8) {
		min-width: $no-media-queries-width;
	}
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
button {
	margin: 0;
	padding: 0;
}
li {
    display: block;
}
h1,
h2,
h3,
h4,
p {
	font-size: inherit;
}
a,
button {
	color: inherit;
	@include transition($global-transition-duration);
}
a {
	text-decoration: none;
}
button {
	overflow: visible; // Fix all IE versions
	border: 0;
	font: inherit;
	background: none;
	cursor: pointer;
	-webkit-font-smoothing: inherit;
	&:focus {
		outline: 0;
	}
}
img {
	max-width: 100%;
	height: auto;
	border: 0; // Fix all IE versions when nested in links
}
